.navbar.navbar-default{:style => "width: 120px;"}
  %ul.nav.navbar-nav
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Dropdown
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#"} Action
        %li
          %a{:href => "#"} Another action
        %li
          %a{:href => "#"} Something else here
        %li.divider
        %li.dropdown-header Dropdown header
        %li
          %a{:href => "#"} Separated link
        %li
          %a{:href => "#"} One more separated link
