<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-6">
      <h1>ScrumBoard</h1>
      <p class="lead">No existe ningun proyecto</p>
      <%= link_to "Crear un nuevo proyecto", "", class: "btn btn-lg btn-danger" %>
    </div>

    <div class="col-lg-6" style="padding: 15px 15px 0 15px;">
      <div class="well">
        <span style="float: left; margin-right: 15px;">
          <img src="twitter_big.png" style="border: 1px solid #ccc; border-radius: 4px;" height="135" width="175">
        </span>
      </a>
      <h4 style="margin-bottom: 0.4em;">Mision y vision</h4>
      <div class="clearfix">
        <p>Lograr que la mayoria de los ciudadanos del Distrito Federal usen la aplicacion.</p>
        <p>Y enrriquesernos claro esta!</p>
      </div>
    </a>
  </div>
</div>
  </div>
</div>
